@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Lora');


$green: #1CBF7B;

$body-font: 'Lora', serif;
$header-font: 'Lobster Two', cursive;


/* GENERAL */

html {
    font-size: 20px;
}

body{
    margin: 2% 8%;
    font-family: $body-font;
    font-size: 1rem;
    line-height: 1;
}

h2{
    font-size:1.3rem;
    line-height: 1.1;
}

a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    :hover *{
        opacity:0.5;
    }
}


/* MAIN */

.main .header{
    text-align: center;
    h1{
        font-family: $header-font;
        font-size:2.8rem;
    }
    img{
        width: 150px;
    }
    hr{
        width: 30%;
        border-width: 1px;
        border-style: solid;
        border-color: #000;
    }
}

/* LATEST */

.latest{
    margin-top: 70px;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 2fr 1fr;
}

.latest .section-1{
    h2{
        font-size:1.5rem;
    }
    .hl-img{
        height:50vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
    }
    p.desc{
        display: none;
    }
} 
 
.latest .section-2{
    .headline{
        border-bottom: solid;
        border-bottom-width:2px;
    }
    .headline:last-child{
        border-bottom: none;
    }
    .hl-img, p.desc{
        display: none;
    }
} 

.latest .section-3{
    margin-top: 70px;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    .headline a div{
        display:grid;
        grid-template-areas: 
        "image  "
        "sd "
        "title  "
        "desc  ";
        .hl-img{
            width: 100%;
            height: 20vh;
        }
        .source-date{
            grid-area: sd;
        }
        h2{
            grid-area: title;
        }
        p.desc{
            grid-area: desc;
        }
    }
}




/* ALL SOURCES */

.all-sources{
    margin-top: 70px;
}

.all-sources h1.subtitle{
    font-family: $header-font;
    font-size: 2rem;
    margin-bottom: 50px;
}

.all-sources .source {
    button{
        width: 50%;
        background-color: #000;
        margin-bottom:35px;    
        align-content: center;
        cursor: pointer;
        color: #fff;
        padding: 35px;
        border: none;
        font-size: 1rem;
        img{
            filter:invert(100%);
            max-width: 100%;
            height: 50px;
        }
        h1{
            margin: 5px auto;
        }
    }
    button:hover{
        background-color: $green;
    }
}


/* SOURCE HEADLINES */

.source-headlines .top-bar{
    position:fixed;
    z-index: 999;
    top:0;
    left:0;
    background: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1{
        margin: 35px 0px;
        font-size: 3rem;
    }
    img{
        height: 75px;
        margin: 30px 0px 25px 0px;
    }
    svg{
        bottom: 0;
    }
    .close{
        justify-self: end;
        display: grid;
        height: 100%;
        align-content: center;
        a{
            font-size: 2.25rem;
            font-weight: bold;
        }
    }
}

.source-headlines .top-bar>*:not(svg){
    padding-left: 5%;
    padding-right: 5%;
}

.source-headlines .headline a div{
    width: 50%;
    display:grid;
    margin-bottom: 35px;
    h2{
        order:1;
        font-size: 1.5rem;
    }
    .source-date{
        width:100%;
        order:3;
        margin-bottom: 10px;
        p, span{
            margin-top: 0;
        }
    }
    .hl-img{
        width:100%;
        height: 50vh;
        order: 4;
    }
    .desc{
        order:2;
    }
}


/* HEADLINE */

.headline h2{
    margin: 20px 0 0 0;
}

.headline .hl-img{
    background-size: cover;
    background-position: center;
}

.headline .source-date{
    display: grid;
    grid-template-columns: 1fr 1fr;
    p{
        margin: 10px 0;
    }
    .source{
        font-weight: bold;
        color:$green;
    }
    .date{
        justify-self: end;
    }
}


/* FOOTER */

.footer{
    margin-top: 70px;
    text-align: right;
}

.footer a{
    color: $green;
    font-weight: bold;
}








