@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
@import url("https://fonts.googleapis.com/css?family=Lora");
/* GENERAL */
html {
  font-size: 20px; }

body {
  margin: 2% 8%;
  font-family: "Lora", serif;
  font-size: 1rem;
  line-height: 1; }

h2 {
  font-size: 1.3rem;
  line-height: 1.1; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

a :hover * {
  opacity: 0.5; }

/* MAIN */
.main .header {
  text-align: center; }

.main .header h1 {
  font-family: "Lobster Two", cursive;
  font-size: 2.8rem; }

.main .header img {
  width: 150px; }

.main .header hr {
  width: 30%;
  border-width: 1px;
  border-style: solid;
  border-color: #000; }

/* LATEST */
.latest {
  margin-top: 70px;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 2fr 1fr; }

.latest .section-1 h2 {
  font-size: 1.5rem; }

.latest .section-1 .hl-img {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 10px; }

.latest .section-1 p.desc {
  display: none; }

.latest .section-2 .headline {
  border-bottom: solid;
  border-bottom-width: 2px; }

.latest .section-2 .headline:last-child {
  border-bottom: none; }

.latest .section-2 .hl-img, .latest .section-2 p.desc {
  display: none; }

.latest .section-3 {
  margin-top: 70px;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px; }

.latest .section-3 .headline a div {
  display: grid;
  grid-template-areas: "image  " "sd " "title  " "desc  "; }

.latest .section-3 .headline a div .hl-img {
  width: 100%;
  height: 20vh; }

.latest .section-3 .headline a div .source-date {
  grid-area: sd; }

.latest .section-3 .headline a div h2 {
  grid-area: title; }

.latest .section-3 .headline a div p.desc {
  grid-area: desc; }

/* ALL SOURCES */
.all-sources {
  margin-top: 70px; }

.all-sources h1.subtitle {
  font-family: "Lobster Two", cursive;
  font-size: 2rem;
  margin-bottom: 50px; }

.all-sources .source button {
  width: 50%;
  background-color: #000;
  margin-bottom: 35px;
  align-content: center;
  cursor: pointer;
  color: #fff;
  padding: 35px;
  border: none;
  font-size: 1rem; }

.all-sources .source button img {
  filter: invert(100%);
  max-width: 100%;
  height: 50px; }

.all-sources .source button h1 {
  margin: 5px auto; }

.all-sources .source button:hover {
  background-color: #1CBF7B; }

/* SOURCE HEADLINES */
.source-headlines .top-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.source-headlines .top-bar h1 {
  margin: 35px 0px;
  font-size: 1.8rem; }

.source-headlines .top-bar img {
  height: 55px;
  margin: 30px 0px 25px 0px; }

.source-headlines .top-bar svg {
  bottom: 0; }

.source-headlines .top-bar .close {
  justify-self: end;
  display: grid;
  height: 100%;
  align-content: center; }

.source-headlines .top-bar .close a {
  font-size: 2.25rem;
  font-weight: bold; }

.source-headlines .top-bar > *:not(svg) {
  padding-left: 4%;
  padding-right: 4%; }

/* HEADLINE */
.headline h2 {
  margin: 20px 0 0 0; }

.headline .hl-img {
  background-size: cover;
  background-position: center; }

.headline .source-date {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.headline .source-date p {
  margin: 10px 0; }

.headline .source-date .source {
  font-weight: bold;
  color: #1CBF7B; }

.headline .source-date .date {
  justify-self: end; }

/* FOOTER */
.footer {
  margin-top: 70px;
  text-align: right; }

.footer a {
  color: #1CBF7B;
  font-weight: bold; }
